.responsiveContainer {
  margin-top: 14px;
  overflow: auto;
}

/* Table view styles */
.tableView {
  display: block; /* Show by default on desktop */
}

/* Card view styles */
.cardView {
  display: none; /* Hidden by default on desktop */
}

@media (max-width: 720px) {
  .tableView {
    display: none; /* Hide table on mobile */
  }
  
  .cardView {
    display: block; /* Show cards on mobile */
  }
}