* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b8b80;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 8vh;
  position: relative; 
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.navList li{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.navList li::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}
.navList li:hover::after{
  width: 100%;
}


.other {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.other img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn {
  background-color: #1b8b80;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.btn:hover{
background-color: white;
color:#1b8b80;

}
.cart{
  font-size: 20px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.cart:hover{
  transform: rotate(360deg);
}

.menu {
  display: none;
}


@media screen and (max-width: 600px) {
  .navList {
    display: none;
    flex-direction: column;
    background-color: #1b8b80;
    width: 100%;
    position: absolute;
    top: 8vh; 
    left: 0;
    padding: 10px 0;
    text-align: center;
 
  }

  .navList.active {
    display: flex;
    
  }

  .menu {
    display: block;
    color: white;
    font-size: 25px;
    cursor: pointer;
    order: 3;
  }
  .brand h1{
    font-size: 25px;

  }
}
