/* FOR GENERAL LAY OUT  */
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    gap : 20px;

}
.sidebar{
    width: 30%;
    /* background-color: #4CAF50;  لون أخضر */
}
.main{
    /* background-color: rgb(255, 0, 251); */
    width: 70%;
}
